@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using EntityLayer.Concrete
@model List<Gallery>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<br />

<div id="gallery" class="gallery">
    <div class="container">
        <div class="w3-headings-all">
            <h3>@localizer["AKYOL OTOMOTİV'E HOŞGELDİNİZ"]</h3>
         
        </div>
        @foreach (var item in Model)
        {
            <div class="gallery-w3lsrow">
                <div class=" gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/web/images/d1.png" data-lightbox="example-set">
                            <img src=@item.GalleryResim class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>@item.GalleryAd</h5>
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

            
        }
        
    </div>
</div>


