@{
    ViewData["Title"] = "Kesfet";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!--bars -->
<script type="text/javascript">
    $(function () {
        $("#bars li .bar").each(function (key, bar) {
            var percentage = $(this).data('percentage');

            $(this).animate({
                'height': percentage + '%'
            }, 1000);
        })
    })
</script>
<!-- bars -->
<!-- about page -->
<div class="inner_main_agile_section">
    <div class="container">
        <div class="w3-headings-all">
            <h3>HAKKIMIZDA</h3>
        </div>
        <div class="agile_inner_grids">

            <div class="col-md-6 w3_agileits_about_grid_left">
                <p>
                    <h4>AKYOL OTOMOTİV YILLARA GÖRE SATIŞ MİKTARI</h4>
                    <br />
                    <span>
                        AKYOL OTOMOTİV Kurulduğu günden beri sürekli artan satışlarıyla otomobil pazarının öncüsü olma yolunda emin adımlarla ilerlemektedir.
                    </span>
                </p>
                <ul>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>5 İL'DE BAYİLİK</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>200 ÇALIŞAN</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>GENİŞ SERVİS AĞI</li>
                    <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>KAMPANYALI FİYATLAR</li>
                </ul>
            </div>
            <div class="col-md-6 w3_agileits_about_grid_right">

                <div id="chart">
                    <ul id="numbers">
                        <li><span>2500</span></li>
                        <li><span>2250</span></li>
                        <li><span>2000</span></li>
                        <li><span>1750</span></li>
                        <li><span>1500</span></li>
                        <li><span>1250</span></li>
                        <li><span>1000</span></li>
                        <li><span>750</span></li>
                        <li><span>500</span></li>
                        <li><span>250</span></li>
                        <li><span>0</span></li>
                    </ul>
                    <ul id="bars">
                        <li><div data-percentage="10" class="bar"></div><span>2016</span></li>
                        <li><div data-percentage="40" class="bar"></div><span>2017</span></li>
                        <li><div data-percentage="32" class="bar"></div><span>2018</span></li>
                        <li><div data-percentage="78" class="bar"></div><span>2019</span></li>
                        <li><div data-percentage="58" class="bar"></div><span>2020</span></li>
                        <li><div data-percentage="70" class="bar"></div><span>2021</span></li>


                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about page -->
