@using EntityLayer.Concrete
@model List<Opsiyonlar>
@{
    ViewData["Title"] = "Opsiyon";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="typo">
    <div class="container">
        <div class="typo-title">
            <h3>OPSİYONLAR</h3>
        </div>
        <div class="container">
            <div class="bs-docs-example">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Opsiyon</th>
                            <th>Opsiyon Fiyatı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Opsiyon_Adi</td>
                                <td>@item.Opsiyon_Fiyati</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
